body{
  background: #C33764;
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);
  background: linear-gradient(to right, #1D2671, #C33764);
  font-family: Roboto, sans-serif;
}

.container{
  width: 90rem;
  height: 50rem;
  margin: auto;
}

.card1{
  width: 30rem;
  height: 50rem;
  background-color: antiquewhite;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 0.4rem;
}

.user-photo{
 margin: auto;
 display: block;
 text-align: center;
 padding: 1rem;
}
.user-photo h3{
  color: #fff;
  font-size: 1.8rem;
}

.user-photo img{
  width: 60%;
  border-radius: 50%;
}

.user-photo span{
  color: #FDE047;
}

.user-specification{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
}

.user-specification a{
  text-decoration: none;
  color:#FDE047;
}

.user-specification span{
  color:#E2E8F0;
}

.card1-text{
  text-align: center;
}

.card1-text h3{
  font-family: Inter;
  margin-bottom: 1rem;
  color: #FDE047;
}

.card1-text p{
  color: #E2E8F0;
  font-size: 1.1rem;
  margin-left: 20%;
  margin-right: 20%;
}

.languages{
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  height: 2rem;
}

#html5{
  height: 1.5rem;
  color: #ff0000;
}

#css3{
  height: 1.5rem;
  color: #4053fd;
}

#js{
  height: 1.5rem;
  color: #FDE047;
}

#database{
  height: 1.5rem;
  color: #858ab4;
}

#php{
  height: 1.5rem;
  color: #6b74f6;
}

.social-media ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4.5rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

#github{
  height: 2rem;
  color: #000000;
}

#linkedin{
  height: 2rem;
  color: #000000;
}

#instagram{
  height: 2rem;
  color:#000000;
}

#facebook{
  height: 2rem;
  color:#000000;
}


